In [20]:
import os
import pandas as pd
import numpy as np

input_df = pd.read_csv("6 - Primary Education.xlsx - Primary.csv")

### Looking for missing values

In [21]:
input_df.isna().sum()

ISO3                        0
Countries and areas         0
Region                      1
Sub-region                  5
Income Group                6
Total                       5
Residence Rural            15
Residence Urban            13
Wealth quintile Poorest    22
Wealth quintile Richest    25
Data source                 2
Time period                 0
dtype: int64

### Looking for data type inconsistencies

In [22]:
for column in input_df.columns:
    if input_df[input_df[column].notnull()][column].apply(type).value_counts().shape[0] > 1:
        print(column, "has multiple data type")

### Looking for duplicates

In [23]:
input_df[input_df.duplicated(keep = False)]

Empty DataFrame
Columns: [ISO3, Countries and areas, Region, Sub-region, Income Group, Total, Residence Rural, Residence Urban, Wealth quintile Poorest, Wealth quintile Richest, Data source, Time period]
Index: []

In [24]:
input_df[input_df.duplicated( ['ISO3'], keep = False)]
# no duplicates

Empty DataFrame
Columns: [ISO3, Countries and areas, Region, Sub-region, Income Group, Total, Residence Rural, Residence Urban, Wealth quintile Poorest, Wealth quintile Richest, Data source, Time period]
Index: []

### Looking for outliers

In [25]:
numerical_columns = ['Total', 'Residence Rural', 'Residence Urban',
       'Wealth quintile Poorest', 'Wealth quintile Richest']
for column in numerical_columns:
    print("Column :", column)
    print("Median", input_df[column].median())
    print("1st decile", input_df[column].quantile(0.1))
    print("9th decile", input_df[column].quantile(0.9))
    print("Min : ", input_df[column].min())
    print("Max : ", input_df[column].max())
    print()
    # Values of total seems to be between 0 and 1 but there are some exceptions

Column : Total
Median 0.26
1st decile 0.03
9th decile 0.8190000000000001
Min :  0.0
Max :  47.0

Column : Residence Rural
Median 0.12
1st decile 0.01
9th decile 0.69
Min :  0.0
Max :  0.94

Column : Residence Urban
Median 0.45999999999999996
1st decile 0.06
9th decile 0.887
Min :  0.01
Max :  24.0

Column : Wealth quintile Poorest
Median 0.03
1st decile 0.0
9th decile 0.6500000000000001
Min :  0.0
Max :  0.88

Column : Wealth quintile Richest
Median 0.705
1st decile 0.09200000000000001
9th decile 0.99
Min :  0.0
Max :  1.0

In [26]:
input_df["Income Group"].value_counts()

Upper middle income (UM)    29
Lower middle income (LM)    27
Low income (L)              17
High income (H)              8
Name: Income Group, dtype: int64

In [8]:
input_df["Time period"].value_counts()

2018         17
2019          9
2017          8
2018-19       7
2013          6
2012          5
2017-18       5
2015          4
2015-16       4
2014          3
2011-12       3
2010          3
2016          3
2014-15       3
2016-17       2
2076          1
2018-2019     1
2562          1
2011          1
2012-99       1
Name: Time period, dtype: int64

In [9]:
input_df.Region.value_counts()

SSA     31
LAC     20
ECA     15
EAP      9
SA       6
MENA     5
Name: Region, dtype: int64

In [10]:
input_df["Sub-region"].value_counts()

LAC      20
WCA      17
ESA      12
EECA     11
EAP       9
SA        6
MENA      4
WE        2
WCAAA     1
Name: Sub-region, dtype: int64

### remedy the outliers

In [11]:
df_modified = input_df.copy()
for column in numerical_columns:
    filter_outliers = (input_df[column] > 1)
    df_modified.loc[filter_outliers, column] = df_modified[filter_outliers][column] / 100

# We check that values aren't above 1 after the cleaning
for column in numerical_columns:
    assert df_modified[column].max() <= 1

In [12]:
import datetime
current_year = datetime.date.today().year
def clean_time_period(time_period):
    if time_period == "2018-2019":
        return "2018-19"
    if time_period == "2012-99":
        return "2012"
    if "-" not in time_period:
        if int(time_period) > current_year:
            return np.nan
    return time_period

df_modified["Time period"] = df_modified["Time period"].apply(clean_time_period)

In [27]:
df_modified["Sub-region"] = df_modified["Sub-region"].apply(lambda x : x  if x != "WCAAA" else "WCA")

In [28]:
print(df_modified.isna().any(axis = 1).value_counts())

df_final_no_nan = df_modified.dropna(how = "any")
print(df_final_no_nan.shape)
df_final_no_nan.columns = [col.replace(' ', '_') for col in df_final_no_nan.columns]

False    58
True     29
dtype: int64
(58, 12)

### Output data to csv

In [31]:
df_final_no_nan.to_csv("cleaned_data.csv", index = False)

In [16]:
#"SELECT Region, AVERAGE(Total), AVERAGE(Residence_Rural), AVERAGE(Residence_Urban), AVERAGE(Wealth_quintile_Poorest), AVERAGE(Wealth_quintile_Richest) FROM Countries GROUP BY Region"
#"SELECT Sub-region, AVERAGE(Total), AVERAGE(Residence_Rural), AVERAGE(Residence_Urban), AVERAGE(Wealth_quintile_Poorest), AVERAGE(Wealth_quintile_Richest) FROM Countries GROUP BY Sub-region"

### Optional, push automatically to SQL

In [17]:
#import pymysql
#from sqlalchemy import create_engine
#from creds import password
#engine = create_engine(f'mysql+pymysql://root:{password}]@localhost:3306/Countries')
#df_modified.to_sql('Countries', engine, if_exists='replace', index=False)